[defaults]
callback_result_format = yaml
collections_path = ./ansible/collections
roles_path = ./roles
inventory = ./inventory.ini
log_path = ./.ansible/ansible.log
forks = 10
timeout = 30
retry_files_enabled = False
gathering = smart
host_key_checking = True
interpreter_python = auto_silent
local_tmp = ./.ansible/tmp
remote_tmp = ~/.ansible/tmp
deprecation_warnings = True
vault_password_file = ./vault_password.txt

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
pipelining = True
ssh_common_args = "-o StrictHostKeyChecking=accept-new"

[diff]
always = True
