[defaults]
inventory = inventory/hosts.yml
roles_path = roles
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent
vault_password_file = .vault_pass  # create locally; never commit

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
pipelining = True
